<div class="container">
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <tr> <th>Id</th><th>Name</th> <th>Salary</th> <th>Creation Date</th> <th>Category</th> </tr>
                <tbody *ngFor="let employer of employers">
                    <tr >
                        <td>{{employer.idEmployer}}</td>
                        <td>{{employer.nameEmployer}}</td>
                        <td>{{employer.salaryEmployer}}</td>
                        <td>{{employer.dateRec | date:'dd/MM/yyyy'}}</td>
                        <td>{{employer.category?.nameCat}}</td>
                        <td><a class="btn btn-danger" (click)="deleteEmployer(employer)">Delete</a></td>
                        <td><a class="btn btn-success" [routerLink]="['/update-employer',employer.idEmployer]">Modify</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>