<div class="container">
    <div>
    <h2>Add Employer :</h2>
    </div>
    <form >
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label >ID Employer</label>
            <input type="text" [(ngModel)]="newEmployer.idEmployer" name="idEmployer" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4" >
            <label >Name Employer</label>
            <input type="text"[(ngModel)]= "newEmployer.nameEmployer" name="nameEmployer" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label >Salary Employer</label>
            <input type="number" [(ngModel)]= "newEmployer.salaryEmployer" name="salaryEmployer" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label >Creation Date</label>
            <input type="date" [(ngModel)]= "newEmployer.dateCreation" name="dateCreation" class="form-control">
        </div>
        <div class="mt-2">
            <button type="submit" (click)="addEmployer()"class="btn btn-success">Ajouter</button>
        </div>
    </form>
</div>